@import "src/common/styles/mixins/mixins";
@import "src/common/styles/variables/variables";

.note__wrapper {
  position: relative;



  .note__sticker_img {

    width: 370px;
    height: 370px;
  }

  .note {
    position: absolute;
    //width: 200px;
    //height: 170px;
    display: flex;
    top: 30px;
    left: 25px;
    flex-direction: column;
    gap: 15px;
    transform: rotate(-4deg);

    &:hover .note__delete_button{
      transition: all 0.3s ease-in-out;
      opacity: 1;
    }

    .note__delete_button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: -10px;
      opacity: 0;

      .note__delete_button_img {
        width: 30px;
        height: 30px;
      }


    }


    .note__title {
      @include text(18px, 1.2, 700, $main-text-color, italic);
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;


    }

    .note__message {
      @include text(18px, 1.2, 400, $main-text-color, italic);
      height: 270px;
      width: 300px;

    }
  }
}
