
.app_wrapper {
  display: grid;
  grid-template-columns: 20% 78.5%;
  grid-column-gap: 20px;
  grid-template-areas:
               "toolsBar notes";

    .notes_wrapper {
      grid-area: notes;
      background-color: rgba(188, 143, 143, 0.49);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 25px;
      padding: 10px;
      min-height: 100vh;
    }



}
