
.app_wrapper {
  display: grid;
  grid-template-columns: 20% 78%;
  grid-column-gap: 20px;
  grid-template-areas:
               "toolsBar notes";


  .board_wrapper {
    grid-area: notes;
   // background-color: lemonchiffon;
   // width: 80%;
   // left: 100px;

    .notes_wrapper {
      background-color: lemonchiffon;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 25px;
      padding: 10px;
      //height: 100vh;
    }
  }


}
